.top-testy{
  width: 50%;
  margin: 0 auto;
  .title-testy{
    h1{
      font-size: 40px;
      font-weight: 700;
      padding-top: 15px;
    }
  }
  .top-testu-line{
    display: flex;
    h1{
      width: 20%;
      font-size: 20px;
      color: grey;
      font-weight: 400;
    }
    span{
      align-self: center;
      width: 80%;
      border: 1px solid grey;
      height: 0;
    }
  }
}
.bottom-testy{
  p{
    font-size: 16px;
    color: grey;
    line-height: 1.8;
    padding: 40px 0 50px;
  }
}